
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 49%, rgba(255,0,185,1) 100%);
}

.column {
  float: left;
  }
  .left {
    width: 20%;
    }

    .middle {
    width: 30%;
    }
    
    .right {
    width: 50%;
    justify-content: center; 
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
h1 {
  margin-top: 100px;
  width: 400px;
  letter-spacing: 20px;
    }

p {
  font-family: Courier, monospace;
  color: #FDDFA0;
  margin: 25px 50px 75px; 
    }
    
h1, h2, h3 { 
  color: #FDDFA0; 
  margin-top: 300px;
  margin: 50px 75px; 
  font-family: Copperplate, Papyrus, fantasy;
    }

.myHeader { 
  color: #FDDFA0; 
  margin-top: 50px;
  margin: 50px 75px; 
  font-family: Copperplate, Papyrus, fantasy;
    }

img {
  max-width:250%;
  height:auto;
}


.howTo {
  font-size:x-large;
  text-align: center;
  font-stretch: expanded;
}

.columnleft {
  max-width:100%;
  height:auto;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.columnA {
  float: left;
  width: 25%;
  padding: 10px;
}

.rowA {
  margin-left: 10%;
}

/* Clear floats after image containers */
.rowA::after {
  content: "";
  clear: both;
  display: table;
}